	<footer class="footer">
		{% include 'template-parts/navigation/menu-footer.twig' %}

		<div class="footer__credits">
			<div class="wrapper">
				{% include 'template-parts/footer/credits.twig' %}
			</div>
		</div>
	</footer>

	{{ function( 'wp_footer' ) }}

<!--   autor: Reddog Systems        -->
<!--  strona: https://red-dog.pl    -->
<!-- kontakt: p.bachorek@red-dog.pl -->
</body>
</html>
