{% include 'templates/header.twig' %}

<main class="main" id="main" tabindex="-1">
	<div class="wrapper">

		{# Tytuł #}
		<h2 class="screen-reader-text">
			{{ __( 'Najnowsze wpisy', 'axel' ) }}
		</h2>

		{# Skróty wpisów #}
		{% include 'template-parts/loops/loop-excerpt.twig' %}

	</div>
</main>

{% include 'templates/sidebar.twig' %}
{% include 'templates/footer.twig' %}